<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the solution to the 12-day milestone project by Johannes Oberreuter.">
    <meta name="author" content="Johannes M. Oberreuter">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Data Incubater Stock Ticker Milestone Project</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body onload="form.reset();">
    <!-- form -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Stock ticker</h2>
          <h4>You have asked plot</h1>
          
          {{ script }}
          {{ div }}
        </div>
      </div>
    </div>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
